/* Instruction Page enhancements */
#instruction-container .feedback-options {
    margin-top: 20px;
}

#instruction-container .feedback-choice {
    margin-bottom: 15px;
}

#instruction-container .feedback-choice label {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
    display: block;
    border-left: 5px solid;
    transition: background-color 0.2s;
}

#instruction-container .feedback-choice label:hover {
    background-color: #e9e9e9;
}

#instruction-container .feedback-choice:nth-child(1) label { border-color: #e74c3c; } /* Pomegranate */
#instruction-container .feedback-choice:nth-child(2) label { border-color: #e67e22; } /* Carrot */
#instruction-container .feedback-choice:nth-child(3) label { border-color: #f1c40f; } /* Sun Flower */
#instruction-container .feedback-choice:nth-child(4) label { border-color: #2ecc71; } /* Emerald */
#instruction-container .feedback-choice:nth-child(5) label { border-color: #3498db; } /* Peter River */
#instruction-container .feedback-choice:nth-child(6) label { border-color: #9b59b6; } /* Amethyst */


#instruction-container-2 .placeholder-item {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-left: 5px solid #3498db; /* Peter River */
}

#instruction-container-2 .placeholder-item span:first-child {
    font-family: 'Courier New', Courier, monospace;
}